@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Montserrat&family=Outfit:wght@200;400;700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
    --pm-dark-cyan: hsl(158, 36%, 37%);
    --pm-cream: hsl(30, 38%, 92%);
    --n-very-dark-blue: hsl(212, 21%, 14%);
    --n-dark-grayish-blue:  hsl(228, 12%, 48%);
    --n-white: hsl(0, 0%, 100%);
    
}
body {
    background-color: var(--pm-cream);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    
}
h2 {
    margin: 2px 0;
    font-size: 32px;
}
h3 {
    font-family: 'Montserrat';
    letter-spacing: 5px;
    font-size: 15px;
    color: var(--n-dark-grayish-blue);
    margin: 30px 0;

}
p {
    margin: 10px 0;
}
.container {
    /*display: grid;
    place-items: center;*/
    width: 375px;
    
}
.image-product {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card {
    width: 375px;
    display: flex;
    flex-direction: column;
    background-color: var(--n-white);
    margin: 30px 0;
    /*padding: 20px 30px;*/  
    border-radius: 15px;
     
}
.card-box {
    padding: 0 20px 30px 20px;
}
.header-box {
    margin-bottom: px;
    font-family: 'Fraunces', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}
.detail-box {
    margin:30px 0 60px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--n-dark-grayish-blue)
}
    
.cart-button {
    display: flex;
    justify-content: center;
    background-color: var(--pm-dark-cyan);
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.cart-button span{
    margin-left: 10px;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 15px; 
    
}    
.cost-box {
    display: flex;
    align-items: center;
    color: blue;    
}
.cost-box h2 {
    font-family: 'Fraunces';
    font-size: 40px;
    color: var(--pm-dark-cyan)
}
.cost {
    margin-left: 20px;
    text-decoration: line-through;
    font-family: 'Montserrat';
    color: var(--n-dark-grayish-blue);
    font-weight: 700;
}

@media (min-width: 600px){        
    .card {
        flex-direction: row;
        justify-content: center;
    }
    .card-box {
        background-color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .image-product {
        width: 280px;
        height: auto;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        object-fit: cover;   
    }
}